.composition{
    position: relative;
    
&-image{
    width:55%;
    position: absolute;
    outline-offset: 1.5rem;
    
    @include responsive(tab-port){
       float: left;
       width: 33.33333%;
       position: relative;
    }

}
&-image:hover{
    outline: 1rem solid $color-primary-dark;
    transform: scale(1.2);
    z-index: 20;
}

.image-1{
    top: -2rem;

    @include responsive(tab-port){
        top: 1rem;
        transform: scale(.95);
    }
}
.image-2{
    right: 0;
    @include responsive(tab-port){
        top: -1rem;
        z-index: 100;
        transform: scale(1.2);
    }
}
.image-3{
    top: 6rem;
   right: 20%;
   @include responsive(tab-port){
    top: 1rem;
    right: 0rem;
    transform: scale(1);
}
}

&:hover &-image:not(:hover){
    transform: scale(0.9);
}
}
